body {
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.header {
    text-align: center;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.profile-name{
    margin-top: 5px;
    font-size: 36px;
}

.profile-oganization{
    margin-top: 5px;
    font-size: 15px;
}

.content
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #258cdb;
    text-decoration: none;
}

a:hover{
    color:red;
}


#project
{
    margin-top: 10px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #258cdb;
}
.footer
{
    padding: 30px;
    background-color: black;
}